.footer {
    background-color: var(--color-grey-dark-1);
    grid-column: full-start / full-end;
    display: flex;
    justify-content: center;
}

.footer .text {
    font-size: 1.1rem;
    transform: skewX(-10deg);
}