.projects {
    background-color: var(--color-grey-light-1);
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    /* implicit rows */
    grid-gap: 6rem;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__overview {
    flex: 0 0 70%;
    font-size: 1.4rem;
}

.project__picture {
    flex : 1;
    margin-left: 2rem;
    
}

.project__photo {
    display: block;
    width: 100%;
    border-radius: 4px;
}

figcaption {
    font-size: .7rem;
}

.project__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-0);
    padding-top: .2rem;
}

@media (max-width: 1000px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    
}  

@media (max-width: 700px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
    
}  